.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-form-pad {
  margin: 5px 0px 5px 0px;
}

/* @media only screen and (max-width: 768px) {
   For mobile phones: 
  
} */

.custom-container-col {
  margin-left: 12%; /*15*/
  flex: 0 0 auto;
  width: 77%; /*66.6666666667%;*/
}

.movies-row {
  display: flex;
  flex-wrap: wrap;
}

.left-panel {
  margin-right: 1.5em;
  width: 23%;
}

/* .right-panel {
  margin-right: 1.5em;
  width: 23%;
} */

.footer-custom {
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones:  */
  .custom-container-col {
    margin: 0 5%;
    flex: 0 0 auto;
    width: 90%;
  }

  .left-panel {
    /* margin-right: 1.5em; */
    width: 100%;
    margin-right: 0px;
  }

  .right-panel {
    margin-top: 4%;
    width: 100%;
  }

  .footer-custom {
    /* position: relative; */
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .highlight {
    background: #dc3545;
    color: white !important;
    border-radius: 5px;
  }

  .mleft {
    margin-left: 3px;
  }

  .footer-custom {
    position: fixed;
  }
}
